
.login-container{
    width: 100%;
    text-align: left;
    margin-left: 32vw;
  
}
.email-container-login{
    
    margin-top: 1rem;
}
.email-container-login input{
    width: 31.3vw;
    position: relative;
    left:0.1rem;
    border-color: blue;
    height: 30px;
    outline: none;
    border-radius: 5px;
    color: green;
}


.login-title{
    text-align: center;
}


.email-container-profile input{
    width: 28vw;
    position: relative;
    left:0.1rem;
    border-color: blue;
    height: 30px;
    outline: none;
    border-radius: 5px;
    color: green;
}



.password-container-login{
    
    margin-top: 1rem;
}
.password-container-login input{
    width: 33.3vw;
    position: relative;
    left:0.1rem;
    border-color: blue;
    height: 30px;
    outline: none;
    border-radius: 5px;
    color: green;
}



.login-button-container {
    width: fit-content;
    text-align: center;
}

.login-button-container button{
    height: 45px;
    margin-top: 4rem;
    width: 130px;
    background-color: transparent;
    border-color: lime;
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
}

.login-button-container button:hover{
    background-color: teal;
    color: white;
}


.login-redirect{
    text-align: center;
    
}
@media screen and (max-width: 823px){
    .login-container{
        width: min-content;
        margin-left: 25vw;
    }
   
    .email-container-login input{
        width: fit-content;
    }
    .password-container-login input{
        width: fit-content;
    }
  

    .login-button-container {
        width: 50vw;
        text-align: center;
    }

    .login-button-container button{
       margin-bottom: 2rem;
    }

}