@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

.homepage {
  background-image: url("../../pictures/background.jpg");
  height: 98vh;
  padding-top: 1rem;
}
.homepage-button-container{
  margin-top: 1rem;
    text-align: center;
    max-width: 100vw;
}
.btn-homepage {
  padding: 14px 65px;
  top: 15vw;
  background:rgba(255,255, 255, 0.4);
  overflow: hidden;
  transition: 1s all ease;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid #ff7675;
  margin:0;
  margin-top: 1rem; 
}

.btn-homepage:hover{
    background-color: teal;
}


.home-title{
    font-family: 'Langar', cursive;
    letter-spacing: 0.2rem;
    text-align: center;
    
    color: white;
    margin-top: 15rem;
}

.homepage-container{
    height: max-content;
}


@media screen and (max-width: 823px){
  .homepage{
    background-size: cover;
    margin: 0 auto;
  }
  .home-title{
    margin-top: 12rem;
  }
}