
.grid-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;
    gap: -100px;
    margin: 0 auto;
        grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    
    
  }
  
.grid-item{

  padding: 20px;
  font-size: 150%;
  display: flex;
  align-items: center;
  
}

.sorting{
  width: fit-content;

}


.sorting h4{
  display: inline;
  color: lime;
  
  -webkit-text-stroke: 0.5px black;
}

.sorting button{
  text-transform: uppercase;
  margin-left: 0.5rem;
  height: 40px;
  background-color: transparent;
  border-color: lime;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
  

}


.tour-page-title{
  text-align: center;
 ;
  color: lime;
  
  -webkit-text-stroke: 0.5px black;
}


.sorting button:hover{
  color: white;
  background-color: teal;
}


@media screen and (max-width: 950px){
  .grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
  }
}

@media screen and (max-width: 1424px){
  .grid-container{
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 650px){
  .grid-container{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr;
  }
  
}
